

/*----------------------------- 
  Header  
  ------------------------------*/

@media only screen and (max-width:440px) {
    .top-header{
        background-color: #00DFA2;
    }
    .top-text{
        height: 40px;
        width: 40px;
    }    
    
}


.top-header{
    background-color: #121111;
    height: 340px;
    width: 80%;
    border-radius: 18px;
    align-items: center;
    margin: 0 auto;
}

.top-banner{
    display: flex;
    color: #fff1f1;
    margin: 50px;
    justify-content: space-between;

}


.top-text{
    margin: 20px 0;
    font-weight: 700;
    align-items: center;
    justify-content: center;
    
}
.top-text h1{
    font-size: 40px;
    max-width: 400px;

}
.top-text p{
    justify-content: center;
    max-width: 400px;
}


.top-bottom{
    margin: 20px 0;
    text-decoration: none;
    color: #fff1f1;
    background-color: red;
    padding: 10px;
    border-radius: 5px;
}
.top-bottom:hover{
    background-color: #00DFA2;
}






/* -----------------------------
main
----------------------------------*/
.main-section{
    display: grid;
    grid-template-columns: 28% 28% 28%;
    justify-content: space-around;
    margin: 60px;
}

.banner-img {
    margin: 20px;
    border: 1px solid #937878;
    border-radius: 9px;
}
.banner-img:hover {
    background-color: #FCE9F1;
}
.banner-img  img{
    width: 100%;
    border-radius: 5px;
}
.main-text{
    padding: 10px;
}



.main-text p{
    font-size: 20px;
    background-color: #4FC0D0;
    border-radius: 4px;
    width: 70px;
    text-align: center;
    padding: 0 10px;
}
.main-text p:hover{
    background-color: #6528F7;
}



/* responsive */

@media only screen and (max-width:770px) {

    .main-section {
        grid-template-columns: 100%;
    }

}


/* responsive for mobile device */

@media only screen and (max-width:440px) {

    .main-section {
        grid-template-columns: 100%;
    }
}


/*-----------------------------
footer
--------------------------------*/



.top-footer {
    background-color: #121111;
    height: 300px;
    align-items: center;
    margin: 0 auto;
}


.items-h1{
    text-align: center;
    border: 1px solid #937878;
    color: #fff1f1;
    font-size: 30px;
}


.items{
    color: #fff1f1;
    text-align: center;
    padding: 30px 205px;
    display: flex;
}

/* responsive for mobile device */

